@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.fixed {
  width: 100%;
  overflow-y: hidden;
  position: fixed;
}
